#hero {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f9f9f9;
  color: #333;
}

.hero-main {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.hero-side {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  margin-left: 10vw;
  margin-right: 10vw;
}

.hero-content {
  max-width: 600px;
}

.hero-logo {
  max-width: 150px;
  margin-bottom: 20px;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 20px;
}

.hero-content button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0d47a1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.hero-content button:hover {
  background-color: #7BA9EB;
}

.user-guide {
  padding: 20px;
  width: 30%;
}

.user-guide h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.user-guide ol {
  list-style: none;
  padding: 0;
  counter-reset: guide-counter;
  text-align: left;
}

.user-guide ol li {
  font-size: 16px;
  margin-bottom: 10px;
  position: relative;
  padding-left: 30px;
}

.user-guide ol li::before {
  content: counter(guide-counter);
  counter-increment: guide-counter;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  color: black;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

.user-guide strong {
  font-weight: bold;
}

.divider {
  width: 1px;
  background-color: #ccc;
  margin: 0 20px;
}

.testimonials {
  padding: 20px;
  width: 30%;
  text-align: left;
}

.testimonials h4 {
  margin-top: 5px; /* Reduce space between quote and author */
  margin-bottom: 15px; /* Adjust bottom margin if needed */
}
