#testimonials {
    padding: 60px 20px;
    background-color: #f9f9f9;
  }
  
  #testimonials h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
  }
  
  .testimonials-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 10vw;
    margin-right: 10vw;
  }
  
  .testimonial {
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
  }
  
  .testimonial p {
    font-size: 16px;
    font-style: italic;
  }
  
  .testimonial h4 {
    margin-top: 10px;
    font-size: 18px;
  }
  