.custom-list-item .MuiListItemButton-root {
  background-color: inherit;
  &:hover,
  &:active {
    background-color: inherit; /* Remove hover and active background change */
  }
}

.custom-list-item .MuiListItemText-primary {
  font-weight: bold; /* Make primary text bold */
}

.custom-list-item {
  border-radius: 1rem;
}

/* .list-item-icon {
  min-width: 40px;
} */
