#pricing {
  padding: 60px 20px;
  background-color: #f9f9f9;
}

#pricing h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 36px;
  color: black;
}

.price {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-bottom: 20px;
}

.price h1 {
  font-size: 48px;
  margin: 0;
}

.price p {
  font-size: 24px;
  margin-left: 5px;
  color: #666666;
}

.pricing-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 10vh;
}

.pricing-plan {
  width: 25%; /* Adjusted to accommodate the centralization and standardization */
  margin-bottom: 20px;
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pricing-plan ul {
  list-style: none;
  padding: 0;
  margin: 0 auto 20px auto; /* Centralized the list */
}

.pricing-plan ul li {
  font-size: 16px;
  margin-bottom: 10px;
  color: #666666;
}

.pricing-plan button {
  align-self: center; /* Standardized button position */
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4A90E2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pricing-plan button:hover {
  background-color: #7BA9EB;
}
